<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>The Team</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}"/>
        <style>
            div.a {
              text-indent: 20px;
            }
            
            div.b {
              text-indent: 35px;
            }
            
            div.c {
              text-indent: 50px;
            }
            div.d {
              text-indent: 65px;
            }
            ul.a {
            list-style-type: circle;
            }
            ul.b {
            list-style-type: square;
            }
            h2 {
              font-size: 32px;
            }
            h3 {
              font-size: 23px;
            }
            </style>
      </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container"> <!--Start main container-->

            <div class="row"> <!--Navbar row-->
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand nav-text" href="/">Familiar Faces</a>
                      </div>
                  
                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                          <li><a href="#"></a></li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-menu-hamburger nav-text" aria-hidden="true" aria-label="menu"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="/">Home</a></li>
                              <li><a href="/project_outcomes">Project Outcome</a></li>
                              <li><a href="/testcases">Test Cases</a></li>
                              <li><a href="/documentation">Documentation</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="/about">About the Team</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                  </nav>
            </div> <!--End Navbar row-->
<!----------------------------------------------BEGIN PAGE CONTENT------------------------------------------------------->
            <div class="row"> <!--Begin Main Row-->
              <div class="row">
                <div class="col-12">
                  <h1 id="Page-title">The Team</h1>
                </div>
              </div>
              <div class="row">

                <div class="col-1"></div>
                <div class="col-12 col-sm-4 col-lg-2">
                    <div id="team-member">                        
                      <div>
                          <figure class="profile">
                            <a href="https://www.linkedin.com/in/tim/">
                              <img src="{{url_for('static', filename='assets/img/tim')}}" class="scaled" alt="Tim Besaw"/>
                            </a>
                            <figcaption>
                              <h3 class="name">Tim Besaw</h3>
                              <section class="data-card">
                                  <span class="email">
                                      <a href="mailto:">
                                        <img src="{{url_for('static', filename='assets/img/email-icon.png')}}" class="email-icon" alt="Email Icon" title="Send me and email"/>
                                      </a>
                                  </span>
                                  <span class="linkedin icons">                                      
                                    <a href="https://www.linkedin.com/in/tim/">
                                      <img src="{{url_for('static', filename='assets/img/linkedin_logo.png')}}" class="linked-logo" alt="LinkedIn Logo" title="Connect on LinkedIn"/>
                                    </a>
                                  </span>
                                  <span class="github icons">                                      
                                    <a href="https://github.com/tim">
                                      <img src="{{url_for('static', filename='assets/img/github_logo.png')}}"  class="git-logo" alt="GitHub Logo" title="Connect on GitHub"/>
                                    </a>
                                  </span>
                                </section>
                            </figcaption>
                          </figure>                            
                      </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-2">
                    <div id="team-member">                        
                      <div>
                          <figure class="profile">
                            <a href="https://linkedin.com/in/bayrex-rodriguez">
                              <img src="{{url_for('static', filename='assets/img/bay.jpg')}}" class="scaled" alt="Bayrex Rodriguez"/>
                            </a>
                            <figcaption>
                              <h3 class="name">Bayrex Rodriguez</h3>
                              <section class="data-card">
                                  <span class="email">
                                    <a href="mailto:brodriguez@synctecllc.com">
                                      <img src="{{url_for('static', filename='assets/img/email-icon.png')}}" class="email-icon" alt="Email Icon" title="Send me and email"/>
                                    </a>
                                  </span>
                                  <span class="linkedin icons">                                      
                                    <a href="https://linkedin.com/in/bayrex-rodriguez">
                                      <img src="{{url_for('static', filename='assets/img/linkedin_logo.png')}}" class="linked-logo" alt="LinkedIn Logo" title="Connect on LinkedIn"/>
                                    </a>
                                  </span>
                                  <span class="github icons">                                      
                                    <a href="https://github.com/BayrexR">
                                      <img src="{{url_for('static', filename='assets/img/github_logo.png')}}"  class="git-logo" alt="GitHub Logo" title="Connect on GitHub"/>
                                    </a>
                                  </span>
                                </section>
                            </figcaption>
                          </figure>                            
                      </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-2">
                    <div id="team-member">                        
                      <div>
                          <figure class="profile">
                            <a href="">
                              <img src="{{url_for('static', filename='assets/img/chris.jpg')}}" class="scaled" alt="Chris Tran"/>
                            </a>
                            <figcaption>
                              <h3 class="name">Chris Tran</h3>
                              <section class="data-card">
                                  <span class="email">
                                      <a href="mailto:">
                                        <img src="{{url_for('static', filename='assets/img/email-icon.png')}}" class="email-icon" alt="Email Icon" title="Send me and email"/>
                                      </a>
                                  </span>
                                  <span class="linkedin icons">                                      
                                    <a href="https://www.linkedin.com/in/c_tran301/">
                                      <img src="{{url_for('static', filename='assets/img/linkedin_logo.png')}}" class="linked-logo" alt="LinkedIn Logo" title="Connect on LinkedIn"/>
                                    </a>
                                  </span>
                                  <span class="github icons">                                      
                                    <a href="https://www.github.com/c_tran301/">
                                      <img src="{{url_for('static', filename='assets/img/github_logo.png')}}"  class="git-logo" alt="GitHub Logo" title="Connect on GitHub"/>
                                    </a>
                                  </span>
                                </section>
                            </figcaption>
                          </figure>                            
                      </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-2">
                    <div id="team-member">                        
                      <div>
                          <figure class="profile">
                            <a href="https://www.linkedin.com/in/emil-rodulfo/">
                              <img src="{{url_for('static', filename='assets/img/emil.jpg')}}" class="scaled" alt="Emil Rodulfo"/>
                            </a>
                            <figcaption>
                              <h3 class="name">Emil Rodulfo</h3>
                              <section class="data-card">
                                  <span class="email">
                                      <a href="mailto:emilrodulfo@gmail.com">
                                        <img src="{{url_for('static', filename='assets/img/email-icon.png')}}" class="email-icon" alt="Email Icon" title="Send me and email"/>
                                      </a>
                                  </span>
                                  <span class="linkedin icons">                                      
                                    <a href="https://www.linkedin.com/in/emil-rodulfo/">
                                      <img src="{{url_for('static', filename='assets/img/linkedin_logo.png')}}" class="linked-logo" alt="LinkedIn Logo" title="Connect on LinkedIn"/>
                                    </a>
                                  </span>
                                  <span class="github icons">                                      
                                    <a href="https://github.com/emilrodulfo">
                                      <img src="{{url_for('static', filename='assets/img/github_logo.png')}}"  class="git-logo" alt="GitHub Logo" title="Connect on GitHub"/>
                                    </a>
                                  </span>
                                </section>
                            </figcaption>
                          </figure>                            
                      </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-2">
                    <div id="team-member">                        
                      <div>
                          <figure class="profile">
                            <a href="https://www.linkedin.com/in/martina-abomosa-1259b5167/">
                              <img src="{{url_for('static', filename='assets/img/martina2.jpg')}}" class="scaled" alt="Martina Abomosa"/>
                            </a>
                            <figcaption>
                              <h3 class="name">Martina Abomosa</h3>
                              <section class="data-card">
                                  <span class="email">
                                      <a href="mailto:">
                                        <img src="{{url_for('static', filename='assets/img/email-icon.png')}}" class="email-icon" alt="Email Icon" title="Send me and email"/>
                                      </a>
                                  </span>
                                  <span class="linkedin icons">                                      
                                    <a href="https://www.linkedin.com/in/martina-abomosa-1259b5167/">
                                      <img src="{{url_for('static', filename='assets/img/linkedin_logo.png')}}" class="linked-logo" alt="LinkedIn Logo" title="Connect on LinkedIn"/>
                                    </a>
                                  </span>
                                  <span class="github icons">                                      
                                    <a href="https://github.com/martinamagdy">
                                      <img src="{{url_for('static', filename='assets/img/github_logo.png')}}"  class="git-logo" alt="GitHub Logo" title="Connect on GitHub"/>
                                    </a>
                                  </span>
                                </section>
                            </figcaption>
                          </figure>                            
                      </div>
                    </div>
                </div>
                <div class="col-1"></div>
                
              </div>
              
            </div><!--Begin Main Row-->
            <h1></h1>

<!----------------------------------------------END PAGE CONTENT--------------------------------------------------------->            
<div class="row text-center"> <!--Start footer row-->              
  <div class="footer navbar-fixed-bottom nav-text">
    Familiar Faces (c) | UCF Data Boot Camp
    <a href="https://github.com/BayrexR/FamiliarFaces_Heroku">
      <img src="{{url_for('static', filename='assets/img/github_logo.png')}}" style="width:25px; height:25px;" id="GitHub-logo" alt="GitHub Logo" title="Click to see the repo on GitHub">
    </a>
  </div> 
                          
</div><!--End footer row-->

</div><!--End main container-->

  <!--Latest minified jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- minified plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>
</html>
