<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}"/>
        <style>
            div.a {
              text-indent: 20px;
            }
            
            div.b {
              text-indent: 35px;
            }
            
            div.c {
              text-indent: 50px;
            }
            div.d {
              text-indent: 65px;
            }
            ul.a {
            list-style-type: circle;
            }
            ul.b {
            list-style-type: square;
            }
            h2 {
              font-size: 32px;
            }
            h3 {
              font-size: 23px;
            }
            </style>
      </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container"> <!--Start main container-->

            <div class="row"> <!--Navbar row-->
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand nav-text" href="/">Familiar Faces</a>
                      </div>
                  
                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                          <li><a href="#"></a></li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-menu-hamburger nav-text" aria-hidden="true" aria-label="menu"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="/">Home</a></li>
                              <li><a href="/project_outcomes">Project Outcome</a></li>
                              <li><a href="/testcases">Test Cases</a></li>
                              <li><a href="/documentation">Documentation</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="/about">About the Team</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                  </nav>
            </div> <!--End Navbar row-->
<!----------------------------------------------BEGIN PAGE CONTENT------------------------------------------------------->
            <div class="row"> <!--Begin Main Row-->
              <div class="col-sm-12">
                <div id="mothodology">
                  <h1><strong>Methodology</strong></h1>
                  <uL>
                    <LI><strong>Face detection:</strong> It is the process of locating a face region in an image (a large rectangle near the center of the face). This step does not care who the person is, just that it is a human face.</LI>
                    <LI><strong>Collect and learn faces:</strong> It is the process of saving many faces (for each emotion and gender) and then learning how to recognize them.</LI>
                    <LI><strong>Emotion recognition:</strong> It is the process that checks which of the collected emotion are most similar to the face in the photo and give us the result.</LI>
                    <li><strong>gender recognition:</strong> It is the process that checks the gender of the face in the photo and give us the result.</li>
                  </uL>
                </div>

                <div id="mothodology">
                  <h1><strong>Emotion Recognition and Gender Examples</strong></h1>
                  <ul>
                    <il><h2><strong>Emotion Recognition</strong></h2>
                      <br>
                      <img src="{{url_for('static', filename='assets/img/emotion.JPG')}}" class="sample-couple" alt="emotion">
                    </il>
                    <br>
                    <il><h2><strong>Gender Recognition</strong></h2>
                      <br>
                      <img src="{{url_for('static', filename='assets/img/gender.JPG')}}"  class="sample-couple" alt="gender">
                    </il>
                    <br>
                    <il><h2><strong>Team Detection</strong></h2>
                      <br>
                      <img src="{{url_for('static', filename='assets/img/team_detection.JPG')}}"  class="sample-img" alt="team detection">
                    </il>
                    <il><h2><strong>Test Samples For Gender</strong></h2>
                      <br>
                      <img src="{{url_for('static', filename='assets/img/multiple_gender_70.JPG')}}"  class="sample-img" alt="test samples">
                    </il>
                  </ul>
                </div>

                <div id="ml_alg">
                  <h1><strong>Ml Algorithm Description</strong></h1>
                  <h3><strong>Data Preprocessing</strong></h3>
                  <ul>
                    <li>Collecting photos from KDEF dataset </li>
                    <li>Splitting photos as different emotion, gender and face angle</li>
                    <li>Prepare the imaged to be trained by run 
                      <br>
                      python3 emotion_data_prep.py
                      <br>
                      python3 train_emotion_classifier.py for emotion
                      <br>
                      python3 gender_data_prep.py 
                      <br>
                      python3 train_gender_classifier.py for gender 
                      <br>
                      which will detect faces by using fisherfacerecognizer from OpenCV library, convert images to grayscale and resize the image then do the train by Splitting the images into test and prediction sets and create the model</li>
                    <li>Testing each model and store the result into database </li>
                    <li>Using the database to visualize the result vs the reality to get a clear understanding of each model accuracy</li>
                  </ul>
                  <br>
                  <h3><strong>About KDEF</strong></h3>
                  <section>
                    The Karolinska Directed Emotional Faces (KDEF) is a set of totally 4900 pictures of human facial expressions of emotion. The material was developed in 1998 by Daniel Lundqvist, Anders Flykt and Professor Arne Öhman at Karolinska Institutet, Department of Clinical Neuroscience, Section of Psychology, Stockholm, Sweden.
                    <br>
                    <br>
                    The material was originally developed to be used for psychological and medical research purposes. More specifically material was made to be particularly suitable for perception, attention, emotion, memory and backward masking experiments. Hence, particular attention was for instance paid to create a soft, even light, shooting expressions in multiple angles, use of uniform T-shirt colors, and use of a grid to center participants face during shooting, and positioning of eyes and mouths in fixed image coordinates during scanning.
                    <br>
                    <br>
                    The set contains 70 individuals, each displaying 7 different emotional expressions, each expression being photographed (twice) from 5 different angles. For more info .
                    <br>
                  </section>
                  <h3><strong>Models</strong></h3>
                  <ul>
                    <li><strong>HaarCascade</strong>
                      <br>
                      These models are provided by OpenCV and allow the program to detect human faces. If for some reason you want to change the way this program detect human faces, open face_detection.py, search the following line: faceCascade = cv2.CascadeClassifier('models/haarcascade_frontalface_alt.xml') and change the model path to the desired one</li>
                      <br>
                      <br>
                    <li><strong>Emotion Classifier</strong>
                      <br>
                      These 30 models are created with train_emotion_classifier.py. Each model is trained with the dataset from KDEF.
                      <br>
                      using this hierarchy to put each emotion photo on the correct folder
                      <br>
                      <pre>
                      ├── data
                                ├── raw_emotion
                                     ├── afraid
                                    ├── angry
                                        ├── disgusted
                                    ├── happy
                                      ├── neutral
                                  ├── sad
                                        ├── surprised
                      </pre>
                      Then run 
                      <br>
                      python3 emotion_data_prep.py 
                      <br>
                      python3 train_emotion-classifier.py
                      <br>
                    </li>
                    <br>
                    <br>
                    <li>
                      <strong>Gender Classifier</strong>
                      <br>
                      These 13 models are created with train_gender_classifier.py
                      <br>
                      putting each gender on its specific folder 
                      <pre>
              ├── data
                              ├── raw_gender
                                  ├── male
                                                          ├── female                      
                      </pre>
                      Then run
                      <br>
                      python3 gender_data_prep.py
                      <br>
                      python3 train_gender_classifier.py
                      <br>
                    </li>
                    <br>
                    <br>
                    <img src="{{url_for('static', filename='assets/img/models_table.JPG')}}" id="models_table" alt="Models Table Screenshot">
                  </ul>
                  <h3><strong>Resources</strong></h3>
                  <ul>
                    <li>
                      <a href="https://www.bogotobogo.com/python/OpenCV_Python/python_opencv3_Image_Object_Detection_Face_Detection_Haar_Cascade_Classifiers.php">Object Detection : Face Detection Using HAAR Cascade Classifiers</a>
                    </li>
                    <li>
                        <a href="http://www.emotionlab.se/kdef/">KDEF Dataset : http://www.emotionlab.se/kdef/</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div><!--Begin Main Row-->
<!----------------------------------------------END PAGE CONTENT--------------------------------------------------------->            
<div class="row text-center"> <!--Start footer row-->              
  <div class="footer navbar-fixed-bottom nav-text">
    Familiar Faces (c) | UCF Data Boot Camp
    <a href="https://github.com/BayrexR/FamiliarFaces_Heroku">
      <img src="{{url_for('static', filename='assets/img/github_logo.png')}}" style="width:25px; height:25px;" id="GitHub-logo" alt="GitHub Logo" title="Click to see the repo on GitHub">
    </a>
  </div> 
                          
</div><!--End footer row-->

</div><!--End main container-->

  <!--Latest minified jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- minified plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>
</html>
