<!DOCTYPE html>
<html> 
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Familiar Faces</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style_leaf.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/compact-gallery.css')}}"/>

  <!-- Leaflet  -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
</head>
<body>    
    <div class="container"> <!--Start main container-->


      <div class="row"> <!--Navbar row-->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand nav-text" href="/">Familiar Faces</a>
              </div>
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#"></a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <span class="glyphicon glyphicon-menu-hamburger nav-text" aria-hidden="true" aria-label="menu"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/">Home</a></li>
                      <li><a href="/project_outcomes">Project Outcome</a></li>
                      <li><a href="/test_cases">Test Cases</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/documentation">Documentation</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
    </div> <!--End Navbar row-->

<!----------------------------------------------BEGIN PAGE CONTENT------------------------------------------------------->
    <div class="row"> <!--Begin Main Row-->
      <div class="row">        
        <div class="col-sm-12"> <!--Begin Slideshow Collage Div-->
          
          <figure>
            <img src="{{url_for('static', filename='assets/img/collage2.png')}}" id="collage">
          </figure>

          <!-- Carousel -->
          <!-- <header>
          <div id="collage" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="10000">
                  <img src="{{url_for('static', filename='assets/img/collage3.png')}}" id="collage3" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-interval="10000">
                <img src="{{url_for('static', filename='assets/img/collage4.png')}}" id="collage4" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-interval="10000">
                <img src="{{url_for('static', filename='assets/img/collage5.png')}}" id="collage5" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
          </header> -->

        </div>         
      </div>

      <div>
        <div class="col-sm-12">
          <!-- <div id="image">
            <img src="{{url_for('static', filename='assets/img/placeHolder.png')}}">
          </div> -->

          <div id="intro-div">
            <h2>Abstract</h2>
            <p>
              The Familiar Faces Project takes a dive into the world of machine learning and facial recognition models. The purpose is to evaluate the accuracy of a predictive face detection algorithm trained on facial features to detect human faces, gender, and the following emotions.
            </p>
                        <h4 id="emotion-list">-Afraid   -Angry   -Happy   -Disgusted   -Neutral   -Sad   -Surprised</h4>
          </div>
          <div id="hyp-div">
            <h2>Hypothesis</h2>
            <p>
              Testing the accuracy of this facial recognition model in detecting emotions and gender could open the door to a lot of future real-world applications. We believe, that with sufficiently large training samples, face recognition algorithms could be applied in many different markets.
            </p>
          </div><br/>
          <div id="layout-div">
            <h4>Project Layout</h4>
            <p>
              <span id="page-names">Test Cases:</span> Contains model analysis and result breakdown. <br/>
              <span id="page-names">Project Outcome:</span>Project Outcome: High level summary and final project determination and analysis.<br/>
              <span id="page-names">Documentation:</span> Explination of methodology and sources.
            </p>
          </div>
        </div>
      </div>

    </div><!--Begin Main Row-->


<!----------------------------------------------END PAGE CONTENT--------------------------------------------------------->


    <div class="row text-center"> <!--Start footer row-->              
      <div class="footer navbar-fixed-bottom nav-text">
        Familiar Faces (c) | UCF Data Boot Camp
        <a href="https://github.com/BayrexR/FamiliarFaces_Heroku">
          <img src="{{url_for('static', filename='assets/img/github_logo.png')}}" style="width:25px; height:25px;" id="GitHub-logo" alt="GitHub Logo" title="Click to see the repo on GitHub">
        </a>
      </div>                        
    </div><!--End footer row-->
  </div><!--End main container-->
  

  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>    
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
  <!--Latest minified jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
  <!-- API Key -->
  <script type="text/javascript" src="static/assets/js/config.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='assets/js/config.js')}}"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="static/assets/js/logic_plot.js"></script>
  <script type="text/javascript" src="static/assets/js/logic_map.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='assets/js/logic_plot.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='assets/js/logic_map.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='assets/js/slides.js')}}"></script>
  <script>$('#collage-fig').css('display', 'inline-block').hide().fadeIn();</script>


</body>
</html>
