<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Test Cases</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/survey-style.css')}}"/>
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container"> <!--Start main container-->

            <div class="row"> <!--Navbar row-->
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Familiar Faces</a>
                      </div>
                  
                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                          <li><a href="#"></a></li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" aria-label="menu"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="/">Home</a></li>
                              <li><a href="/project_outcomes">Project Outcome</a></li>
                              <li><a href="/test_cases">Test Cases</a></li>
                              <li><a href="/documentation">Documentation</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="/about">About the Team</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                  </nav>
            </div> <!--End Navbar row-->
<!----------------------------------------------BEGIN PAGE CONTENT------------------------------------------------------->
<h1>TEST CASES</h1>
<div class="row"></div>

<section class="plot-container">
  <article class="index-intro">
    <div class="container-fluid">        
      <h2>Test Cases Based on Emotion</h2>
      <div id="plot-emotion-id"></div>  
      <br>
      <h2>Test Cases Based on Gender</h2>
    <div id ="plot-gender-id"></div>
    </div>
  </article>
</section>

<row>
  <section>
    <div class="container-fluid">
      <div class="col-md-4 ">
        <div id="model1-data-plot"></div>
      </div>
      <div class="col-md-4 ">
        <div id="model2-data-plot"></div>
      </div>
      <div class="col-md-4 ">
        <div id="model3-data-plot"></div>
      </div>
    </div>
  </section>
</row>

<row>
  <section>
    <div class="container-fluid">
      <div class="col-md-4 ">
        <div id="model4-data-plot"></div>
      </div>
      <div class="col-md-4 ">
        <div id="model5-data-plot"></div>
      </div>
      <div class="col-md-4 ">
        <div id="model6-data-plot"></div>
      </div>
    </div>
  </section>
</row>

<script>

mpEModel = []
mpAfraid = []
mpAngry =[]
mpDisgusted = []
mpHappy = []
mpNeutral= []
mpSad = []
mpSurprised = []

mpGModel=[]
mpMale=[]
mpFemale=[]

mpModelAM = []
mpModelAS = []
mpModelFM = []
mpModelFS = []
mpModelMM = []
mpModelMS = []

mp_AM = []
mp_AS = []
mp_FM = []
mp_FS = []
mp_MM = []
mp_MS = []
</script>

<!-- EMOTIONS CHART VARIABLE -->
{% for rowAfraid in rsAfraid %}
  <script>
    mpEModel.push('{{rowAfraid[0]}}')
    mpAfraid.push('{{rowAfraid[1]}}')
  </script>      
{% endfor %}

{% for rowAngry in rsAngry %}
  <script>
    mpAngry.push('{{rowAngry[1]}}')
  </script>      
{% endfor %}

{% for rowDisgusted in rsDisgusted %}
  <script>
    mpDisgusted.push('{{rowDisgusted[1]}}')
  </script>      
{% endfor %}

{% for rowHappy in rsHappy %}
  <script>
    mpHappy.push('{{rowHappy[1]}}')
  </script>      
{% endfor %}

{% for rowNeutral in rsNeutral %}
  <script>
    mpNeutral.push('{{rowNeutral[1]}}')
  </script>      
{% endfor %}

{% for rowSad in rsSad %}
  <script>
    mpSad.push('{{rowSad[1]}}')
  </script>      
{% endfor %}

{% for rowSurprised in rsSurprised %}
  <script>
    mpSurprised.push('{{rowSurprised[1]}}')
  </script>      
{% endfor %}

<!-- GENDER CHART VARIABLE -->

{% for rowMale in rsMale %}
  <script>
    mpGModel.push('{{rowMale[0]}}')
    mpMale.push('{{rowMale[1]}}')
  </script>      
{% endfor %}

{% for rowFemale in rsFemale %}
  <script>
    mpFemale.push('{{rowFemale[1]}}')
  </script>      
{% endfor %}

<!-- AM MODEL CHART VARIABLE -->

{% for row_AM in rsModelAM %}
  <script>
    mpModelAM.push('{{row_AM[0]}}')
    mp_AM.push('{{row_AM[1]}}')
  </script>      
{% endfor %}

<!-- AM MODEL CHART VARIABLE -->

{% for row_AS in rsModelAS %}
  <script>
    mpModelAS.push('{{row_AS[0]}}')
    mp_AS.push('{{row_AS[1]}}')
  </script>      
{% endfor %}

<!-- AM MODEL CHART VARIABLE -->

{% for row_FM in rsModelFM %}
  <script>
    mpModelFM.push('{{row_FM[0]}}')
    mp_FM.push('{{row_FM[1]}}')
  </script>      
{% endfor %}

<!-- AM MODEL CHART VARIABLE -->

{% for row_FS in rsModelFS %}
  <script>
    mpModelFS.push('{{row_FS[0]}}')
    mp_FS.push('{{row_FS[1]}}')
  </script>      
{% endfor %}

<!-- AM MODEL CHART VARIABLE -->

{% for row_MM in rsModelMM %}
  <script>
    mpModelMM.push('{{row_MM[0]}}')
    mp_MM.push('{{row_MM[1]}}')
  </script>      
{% endfor %}

<!-- AM MODEL CHART VARIABLE -->

{% for row_MS in rsModelMS %}
  <script>
    mpModelMS.push('{{row_MS[0]}}')
    mp_MS.push('{{row_MS[1]}}')
  </script>      
{% endfor %}

<!----------------------------------------------END PAGE CONTENT--------------------------------------------------------->
  
            <div class="row text-center"> <!--Start footer row-->              
                <div class="footer navbar-fixed-bottom nav-text">
                  Familiar Faces (c) | UCF Data Boot Camp
                    <a href="https://github.com/BayrexR/FamiliarFaces_Heroku">
                        <img src="{{url_for('static', filename='assets/img/github_logo.png')}}" style="width:25px; height:25px;" id="GitHub-logo" alt="GitHub Logo" title="Click to see the repo on GitHub">
                    </a>
                </div>                         
            </div><!--End footer row-->

        </div><!--End main container-->

                <!--Latest minified jquery-->
        
                <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                <!-- minified plotly.js -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!-- <script type="text/javascript" src="/static/assets/js/app.js"></script> -->
        <script type="text/javascript" src="/static/assets/js/test_cases.js"></script>
        
        
    </body>
</html>
